.Nav {
  height: 76px;
  background: #313848;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px 0 52px;
}

.Nav-profile {
  display: flex;
  align-items: center;
}

.Nav-profile span {
  margin-left: 12px;
  color: #ffffff;
  opacity: 0.4;
  font-family: muli, sans-serif;
}

@media (max-width: 500px) {
  .Nav {
    padding: 0 20px 0 20px;
  }
  .Nav-profile img {
    height: 30px;
  }
  .Nav-profile span {
    margin-left: 5px;
  }
  .Nav-logo {
    height: 20px;
  }
  .Nav a {
    height: 16px;
  }
  .Home-blob-img {
    height: 28vh;
  }
}
